body {
    background-color: antiquewhite;
}

.firstSection {
    text-align: center;
    background-color: rgb(223, 218, 227);
    color: rgb(30, 18, 4);
    width: 300px;
    height: 350px;
    position: relative;
    left: 400px;
    top: 50px;
}
.firstForm {
    text-align: center;
    position: relative;
    top: 30px;
}