body{
    background-color: rgb(128, 125, 121);
    text-align: center;
}
/*
.firstHeading {
    text-align: center;
}
.firstClass {
    text-align: center;
}
.firstButton {
    text-align: center;
}
*/